<ng-container *ngIf="products.length != 0">
  <div class="container-fluid">
    <div class="card-table">
      <div class="cart-product">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.title }}</td>
                <td>
                  <img
                    src="{{ item.image }}"
                    alt="{{ item.title }}"
                    style="max-width: 50px; max-height: 50px"
                  />
                </td>
                <td class="description">{{ item.description }}</td>
                <td>${{ item.price }}</td>
                <td>
                  <input
                    type="number"
                    value="1"
                    min="0"
                    style="width: 70px; border-radius: 3px"
                    id="quantity"
                    [(ngModel)]="item.quantity"
                    (change)="updateQuantity(item, item.quantity)"
                  />
                </td>
                <td style="width: 100px">${{ item.total.toFixed(2) }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeItem(item)"
                  >
                    Remove
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="7" style="text-align: right">
                  <strong>Total:</strong>
                </td>
                <td style="width: 100px; font-weight: bold">
                  ${{ totalPrice }}
                </td>
              </tr>
              <tr>
                <td colspan="8" style="text-align: center">
                  <button type="button" class="btn btn-success">
                    Checkout
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    style="margin-left: 10px"
                    (click)="removeAll()"
                  >
                    Empty Cart
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h2>My Cart</h2>
      <div class="center">
        <img src="assets/images/online-store.png" alt="trolley" />
        <h3>
          No items yet?<br />
          Tap below to explore
        </h3>
        <button class="btn btn-success" routerLink="/products">Shop now</button>
      </div>
    </div>
  </div>
</ng-container>
